[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robotframework = "*"
pillow = "*"
robotframework-seleniumlibrary = "*"
robotframework-datadriver = {extras = ["xls"], version = "*"}
robotframework-pabot = "*"

[dev-packages]

[requires]
python_version = "3.10"
